@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    font-family: Arial, serif;
    font-size: 12px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/aachen.jpg");
    background-size: 100% 100%;
    -webkit-filter: blur(3px);
    z-index: 0;
}

.header {
    position: absolute;
    top: calc(50% - 235px);
    left: calc(50% - 560px);
    z-index: 2;
}

.header div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 5em;
    font-weight: 300;
}

.header div span {
    color: #5379fa !important;
}

.user-form {
    position: absolute;
    top: 75px;
    left: calc(50% - 110px);
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 260px;
    padding: 20px;
    z-index: 2;
}

.register-form {
    position: absolute;
    top: 75px;
    left: calc(50% - 110px);
    height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 260px;
    padding: 20px;
    z-index: 2;
}












input[type=email], input[type=text], input[type=date] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    padding: 4px;
}

input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

input[type=submit], input[type=button] {
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

input[type=submit]:hover {
    opacity: 0.8;
}

input[type=button]:hover {
    opacity: 0.8;
}

input[type=submit]:active {
    opacity: 0.6;
}

input[type=button]:active {
    opacity: 0.6;
}

input[type=email]:focus, input[type=date]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

input[type=submit]:focus {
    outline: none;
}

input[type=button]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#pictureWrap {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    margin-top: 10px;
}

#pictureWrap span {
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    opacity: 0.5;
    font-weight: 400;
    margin-top: 10px;
    padding: 4px;
}

input[type=file] {
    opacity: 0.9;
    background: transparent;
}



















