<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to Almost Perfect</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


<span href="#" class="button" id="toggle-login">Log in</span>

<div id="login">
    <div id="triangle"></div>
    <h1>Log in</h1>

    <form action="<?php echo site_url('login') ?>" class="login-form" method="post">
        <input type="email" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <input type="submit" value="Log in"/>
    </form>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>