<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to Almost Perfect</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Almost<span>Perfect</span></div>
</div>
<br>

<form class="login">
    <input type="email" placeholder="email" name="email"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="submit" value="Login">
</form>

<footer>
    <!-- Footer content -->
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>