<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to AlmostPerfect, the social network of Aachen.</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="background"></div>
<div class="header">
    <div>Almost<span>Perfect</span></div>
</div>

<form class="user-form">
    <input type="email" placeholder="email">
    <input type="password" placeholder="password">
    <input type="submit" value="Login">
    <input type="button" value="Register">
</form>

</body>
</html>