<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Edit Profile - AlmostPerfect</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="background"></div>

<div class="header">
    <div>Almost<span>Perfect</span></div>
</div>

<form class="profile-form">
    <span class="header-text" name="first_name">###Name</span>
    &nbsp;
    <span class="header-text" name="last_name">###Family</span><br/>
    <span class="header-text" name="email">###email</span><br/>
    <span class="header-text" name="city">###City</span><br/>
    <span class="header-text" name="country">###Country</span><br/>
    <span class="header-text" name="gender">###Gender</span><br/>
    <span class="header-text" name="orientation">###Orientation</span><br/>

</form>

<form class="closest-match">
    <input placeholder="Search by family..." type="text"/>
    <input name="findButton" type="button" value="Find"/>
    <br/>
    <br/>
    <br/>
    <span class="normal-text">The closest person to you is:</span>
    <br/>

    <span class="header-text" id="names">###Name ###Family</span>
    <br/>
    <input name="navigate-to-profile" value="View Profile" type="button"/>
</form>
</body>
</html>